// styles/_colors.scss
@theme {
  // ─── Gradation ───────────────────────────────────────────────
  --color-gradation-100: #F4F5F5;
  --color-gradation-200: #D5D8D8;
  --color-gradation-300: #B5BABA;
  --color-gradation-600: #585F5F;
  --color-gradation-800: #1D2020;

  // ─── Royal Green ─────────────────────────────────────────────
  --color-royal-green-800: #2F4C42;
  --color-royal-green-600: #585F5F;

  // ─── Sandy Orange ─────────────────────────────────────────────
  --color-sandy-orange-200: #F4D8B9;
}