@import "tailwindcss";
@import "../styles/typography";
@import "../styles/colors";

html, body {
  height: 100%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

@theme {
  --breakpoint-xs: 20rem;    // 320px
  --breakpoint-sm: 30rem;    // 480px
  --breakpoint-md: 40rem;    // 640px
  --breakpoint-xl: 64rem;    // 1024px
  --breakpoint-2xl: 87.5rem;  // 1400px
}
@layer utilities {
  .container {
    width: 100%;
    margin-inline: auto;
    max-width: 87.5rem; // 1400px

    padding-inline: 0.625rem; // 10px  — xs (320px)

    @media (min-width: 30rem) { // 480px
      padding-inline: 0.625rem; // 10px
    }

    @media (min-width: 40rem) { // 640px
      padding-inline: 0.625rem; // 10px
    }

    @media (min-width: 64rem) { // 1024px
      padding-inline: 2.625rem; // 42px
    }

    @media (min-width: 87.5rem) { // 1400px
      padding-inline: 7.5rem; // 120px
    }
  }
}

@layer components {
  .grid-responsive {
    @apply grid gap-5 2xl:gap-10 xl:grid-cols-12 md:grid-cols-8 sm:grid-cols-6 grid-cols-4;
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes accordion-down {
  from {
    height: 0px;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0px;
  }
}

@utility animate-accordion-down {
  animation: accordion-down 0.3s ease-out;
}

@utility animate-accordion-up {
  animation: accordion-up 0.3s ease-out;
}

@utility animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

@utility animate-fade-out {
  animation: fade-out 0.3s ease-out;
}


@utility process-cta {
  opacity: 1;
  transform: translateX(100%);
}

@utility process-cta-visible {
  animation: process-cta-in 500ms forwards;
}

@utility process-cta-hidden {
  animation: process-cta-out 100ms cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

@keyframes process-cta-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes process-cta-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

